.row{
    margin-left: 20px;
    color: white;
}

.rows_poster{ 
    object-fit: contain;
    width:100%;
    max-height: 100px;
    margin-right:10px ;
    transition: transform 450ms ;
}
.rows_posterLarge{
    max-height: 250px;
}
.rows_posterLarge:hover{
    transform:scale(1.09);
}
.rows_poster:hover{
    transform:scale(1.08);
}
.row_posters{
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding:20px;
}

.row_posters::-webkit-scrollbar{
    display:none;
}